    <footer>
        <!-- sessionsvariabel -->
        <p class="date"> Dagens datum: @ViewData["today"]</p>
        <p>Av Joel Karlsson 2022. Kontakta mig via e-post: <a href="mailto:joka2005@student.miun.se">joka2005@student.miun.se </a></p>
    </footer>