    <nav>
        <ul>
        <li><a asp-controller="Home" asp-action="Index">Start</a></li>
        <li><a asp-controller="Home" asp-action="Movies">Filmer</a></li>
        <li><a asp-controller="Home" asp-action="About">Om</a></li>
        </ul>
    </nav>