@{
    ViewData["Title"] = "Hittepåsida";
}
<h2>VFX Artists React to Bad & Great CGi 63. </h2>


<iframe width="560" height="315" src="@ViewData["React to Bad & Great CGi"]" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>