@{
    ViewData["Title"] = "Hittepåsida";
}
<h2>Bitconnect, ett klassiskt pyramid-schema men ack så roligt. </h2>

<iframe width="560" height="315" src='@ViewData["bitConnect"]' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>